  <div class="data-scrollbar" data-scroll="1">
      <nav class="iq-sidebar-menu">
          <ul id="iq-sidebar-toggle" class="side-menu">
              <li class=" sidebar-layout">
                  <a href="../backend/index.html" class="svg-icon">
                      <i class="">
                          <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                          </svg>
                      </i>
                      <span class="ml-2">Dashboard</span>
                      <p class="mb-0 w-10 badge badge-pill badge-primary">6</p>
                  </a>
              </li>
              <li class="px-3 pt-3 pb-2">
                  <span class="text-uppercase small font-weight-bold">Pages</span>
              </li>


              <li class="sidebar-layout">
                  <a href="#app6" class="collapsed svg-icon" data-toggle="collapse" aria-expanded="false">
                      <i>
                          <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                          </svg>
                      </i>
                      <span class="ml-2">CRUD</span>
                      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon iq-arrow-right arrow-active" width="15" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                      </svg>
                  </a>
                  <ul id="app6" class="submenu collapse" data-parent="#iq-sidebar-toggle">
                      <li class=" sidebar-layout">
                          <a href="" class="svg-icon">
                              <i class="">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 9v6m4-6v6m7-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                  </svg>
                              </i>
                              <span class="ml-2">Brands</span>
                          </a>
                      </li>
                      <li class=" sidebar-layout">
                          <a href="" class="svg-icon">
                              <i class="">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 5.636a9 9 0 010 12.728m0 0l-2.829-2.829m2.829 2.829L21 21M15.536 8.464a5 5 0 010 7.072m0 0l-2.829-2.829m-4.243 2.829a4.978 4.978 0 01-1.414-2.83m-1.414 5.658a9 9 0 01-2.167-9.238m7.824 2.167a1 1 0 111.414 1.414m-1.414-1.414L3 3m8.293 8.293l1.414 1.414" />
                                  </svg>
                              </i>
                              <span class="ml-2">Categories</span>
                          </a>
                      </li>
                      <li class=" sidebar-layout">
                          <a href="{% url 'prod-list' %}" class="svg-icon">
                              <i class="">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 5.636a9 9 0 010 12.728m0 0l-2.829-2.829m2.829 2.829L21 21M15.536 8.464a5 5 0 010 7.072m0 0l-2.829-2.829m-4.243 2.829a4.978 4.978 0 01-1.414-2.83m-1.414 5.658a9 9 0 01-2.167-9.238m7.824 2.167a1 1 0 111.414 1.414m-1.414-1.414L3 3m8.293 8.293l1.414 1.414" />
                                  </svg>
                              </i>
                              <span class="ml-2">Products</span>
                          </a>
                      </li>
                      <li class=" sidebar-layout">
                          <a href="" class="svg-icon">
                              <i class="fa-solid fa-star"></i>
                              <span class="ml-2">Rate</span>
                          </a>
                      </li>
                      <li class=" sidebar-layout">
                          <a href="" class="svg-icon">
                              <i class="">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                                  </svg>
                              </i>

                              <span class="ml-2">Cart</span>
                          </a>
                      </li>
                  </ul>
              </li>
              <li class=" sidebar-layout">
                  <a href="../backend/pages-comingsoon.html" class="svg-icon">
                      <i class="">
                          <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z" />
                          </svg>
                      </i><span class="ml-2">Comingsoon</span>
                  </a>
              </li>
              <li class=" sidebar-layout">
                  <a href="../backend/pages-maintenance.html" class="svg-icon">
                      <i class="">
                          <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                          </svg>
                      </i><span class="ml-2">Maintenance</span>
                  </a>
              </li>

              <li class="px-3 pt-3 pb-2">
                  <span class="text-uppercase small font-weight-bold">User Actions</span>
              </li>
              <li class="sidebar-layout">
                  <a href="" class="svg-icon">
                      <i class="">
                          <svg class="svg-icon" id="iq-user-1-1" xmlns="http://www.w3.org/2000/svg"
                              fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                          </svg>
                      </i><span class="ml-2">User Profile</span>
                  </a>
              </li>

              <li class=" sidebar-layout" >
                  <a href="" class="svg-icon" data-toggle="modal" data-target="#exampleModal">
                      <i class="">
                          <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                          </svg>
                      </i><span class="ml-2" >Logout</span>
                  </a>
              </li>


          </ul>
      </nav>
      <div class="pt-5 pb-5"></div>
  </div>





























